<h1>Modifier l'utilisateur</h1>

<%= form_with(model: @user, url: user_path(@user), local: true, method: :patch) do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Retour', user_path(@user) %>


